@font-face {
    font-family: 'raleway-text';
    src: url(font/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'raleway-title';
    src: url(font/Raleway-SemiBold.ttf);
}


body {
    margin: 0;
    font-family: 'raleway-text', sans-serif;
}

nav {
    display: flex;
    border-bottom: .75px solid black;
    font-family: sans-serif;
    justify-content: space-between;
    min-height: 8vh;
}

nav ul {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a::before {
    content: "• ";
}

nav ul li a {
    text-decoration: none;
}

#homepage {
    min-height: 84vh;
    min-width: 100vw;
}

#background-container {
    height: 100%;
    width: 100%;
    background-image: url("img/background.png");
}

.numbers {
    position: sticky;
    z-index: 2;
    top: 0;
    height: 8vh;
    background-color: black;
    backdrop-filter: blur(10px);
    font-size: 2em;
}

.numbers>div {
    /* Centers div vertically */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    overflow: hidden;
    display: flex;
}

.numbers>div>div {
    color: white;
    white-space: nowrap;
    text-align: right;
    transform: translateX(-100%);

    animation: scroll-text 15s infinite linear;
    -moz-animation: scroll-text 15s linear infinite;
    -webkit-animation: scroll-text 15s linear infinite;
}

@keyframes scroll-text {
    from {
        -moz-transform: translateX(150%);
        -webkit-transform: translateX(150%);
        transform: translateX(150%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.content-container {
    min-height: 92vh;
    background-color: white;
}

/* SECTION ONE */

/* main > div:nth-child(5) {
    max-height: 150vh;
} */

#q1 {
    background-color: black;
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    min-height: 125vh;
    grid-template-rows: 1fr 2fr;
}

.q1-box1 {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: .5fr 3.4fr 4fr;
    grid-template-rows: 1fr 7fr;
    grid-column: 1 / -1;
}

.q1-box1>div:nth-child(3n + 1) {
    background-color: yellow;
}


.q1-box1 div,
.q1-box2 div,
.q1-box3 div,
.q1-box4 div {
    background-color: white;
}

.q1-box1 div:nth-child(2) {
    grid-column: 2/4;
}

.q1-box-container {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.q1-box2 {
    display: grid;
    background-color: black;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.q1-box2>div:nth-child(4) {
    background-color: red;
}

.q1-box3 {
    background-color: black;
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.q1-box3>div:nth-child(2) {
    grid-column: 2/4;
    background-color: #002FA7;
}

.q1-box3>div:nth-child(3) {
    grid-column: 1/3;
    padding: 30px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}

#professional {
    /* professional title */
    z-index: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 3em;
    display: inline-block;
    color: red;
    text-align: right;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

#career {
    /* career title */
    margin: 0;
    padding-left: 10px;
    font-size: 3em;
    padding-top: 10px;
    justify-content: center;
    color: #002FA7;
}

.q1-box1>div:nth-child(4) {
    /* professional career text */
    padding: 30px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}

.q1-box1 div:nth-child(5) {
    /* pegagogy image container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.q1-box1 div:nth-child(5)>img {
    /* pedagogy image */
    max-width: 25vw;
    max-height: 50vw;
}

.q1-box2 div:first-child>img {
    max-width: 95%;
    max-height: 70%;
    padding-top: 25px;
    padding-left: 20px;
}

#tech-journey>h3 {
    /* my tech journey title */
    text-align: left;
    font-size: 4.5rem;
    margin: 0;
    padding-top: 20px;
}

.q1-box3>div:first-child {
    /* professional career text */
    padding: 30px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}

/* SECTION TWO */

.red {
    background-color: red;
    flex-grow: .5;
    flex: 1;
}

.vertical-line {
    /* height: 100%; */
    min-width: 1vw;
    background-color: black;
    flex-grow: .01;
}

.horizontal-line {
    min-height: 1vh;
    /* width: 100%; */
    background-color: black;
    flex-grow: .01;
}

#q2 {
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 100vw;
}

#q2>div:nth-child(4n + 1) {
    display: flex;
    height: 35%;
    width: 100%;
}

#q2>div:nth-child(1)>div:nth-child(3) {
    /* white space in first row */
    flex-grow: .5;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#q2>div:nth-child(1)>div:nth-child(3)>img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-left: black 6px solid;
    border-right: black 6px solid;
}

#q2>div:nth-child(3) {
    display: flex;
    height: 30%;
    width: 100%;
}

#q2>div:nth-child(3)>div:nth-child(odd) {
    /* targets second row */
    flex-grow: .5;
    flex: 1;
    padding: 20px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}

#q2>div:nth-child(5) {
    display: flex;
}

.yellow {
    background-color: yellow;
    flex-grow: .2;
    flex: 1;
}

#q2>div:nth-child(5)>div:nth-child(3) {
    flex-grow: .3;
    flex: 1;
}

#q2>div:nth-child(5)>div:nth-child(3)>img {
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}


.blue-container {
    flex-grow: .3;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blue {
    background-color: #002FA7;
    flex-grow: .7;
}


.blue-container>div:nth-child(3) {
    flex-grow: .3;
}

#q2>div:nth-child(5)>div:nth-child(7) {
    flex-grow: .2;
    flex: 1;
}

/* SECTION 3 */

#q3 {
    display: grid;
    overflow: scroll;
    height: 110vh;
    width: 100vw;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.q3-box {
    background-color: white;
}

.q3-box1 {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 1em;
}

.q3-box1 div {
    background-color: red
}

#q3-box1-title {
    z-index: 1;
    writing-mode: vertical-lr;
    display: inline-block;
    color: black;
    text-align: center;
    margin: 0;
    padding-left: 10px;
    position: relative;
    font-size: 1.2em;
}

.q3-box2 {
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1em;
}

.q3-box2 div:first-child {
    background-color: white;
    padding: 20px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}


.q3-box2 div:nth-child(2) {
    background-color: yellow;
}

.q3-box3 {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.q3-box3>div:nth-child(2) {
    background-color: white;
    padding: 20px;
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.1em;
}

.q3-box3 div {
    background-color: white;
}

.q3-box3 div:first-child {
    z-index: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline-block;
    color: #c7360d;
    text-align: right;
    margin: 0;
    padding-left: 10px;
    text-align: center;
    font-size: 1.2em;
}

.q3-box3 div:nth-child(3) {
    grid-column: 1/3;
}

.q3-box4 {
    display: grid;
    background-color: black;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr;
    row-gap: 1em;
    column-gap: 1em;
}

.q3-box4 div {
    background-color: white;
}

.q3-box4 div:nth-child(2) {
    background-color: black;
}

.q3-box4 div:nth-child(3) {
    grid-column: 1/3;
    background-color: #002FA7;
}

/* SECTION FOUR */

#q5 {
    display: grid;
    overflow: scroll;
    height: 110vh;
    width: 100vw;
    background-color: black;
    grid-template-rows: 2fr 1fr 2fr;
    column-gap: 1em;
    row-gap: 1em;
}

.q5-box1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.q5-box1 div {
    background-color: white;
}

.q5-box1>div:first-child {
    background-color: red;
}

.q5-box1>div:nth-child(2) {
    grid-column: 2/4;
}

.q5-box1>div:nth-child(3) {
    background-color: yellow;
    grid-row: 1 / 3;
}

.q5-box1>div:nth-child(4) {
    grid-column: 1/3;
}

.q5-box1>div:nth-child(5) {
    background-color: blue;
}